/tags
/R/printr.R
/autom4te.cache/
/config.log
/config.status
/igraph_*.tar.gz
/igraph_*.tgz
/object_files
/version_number
igraph.Rcheck/
.venv/
.vscode/
.Rproj.user
/configure~
/src/build/
/src/install/
inst/doc
cran
/CRAN-SUBMISSION
/docs
/compile_commands.json
/.cache
/rchk
/src/*.d
/src/symbols.rds
