/tags
/R/printr.R
/autom4te.cache/
/config.log
/config.status
/igraph_*.tar.gz
/igraph_*.tgz
/object_files
/version_number
igraph.Rcheck/
.venv/
.vscode/
.Rproj.user
/configure~
/build/
inst/doc
cran
