# Make sure to use an exact version or commit hash in the line below,
# _not_ the name of a branch. The hash of this file is used by the CI
# environment to detect when to re-create the virtualenv so the hash
# needs to change whenever a package is updated.

git+https://github.com/igraph/stimulus@0.13.0#egg=stimulus
